extends layout
block body
    div(ng-controller="MapController")
        .container
            p {{featureAttrs | json}}
            div(edit-form gw-model="featureAttrs" form-definition="formDefinition")
