extends layout
block body

    .container(ng-controller="TreeController")

        h2 Адресный поиск
        form(role="form", style="width:300px")
            div(class="form-group")
                tree(aoguid='878fc621-3708-46c7-a97f-5a13a4176b3e')

