extends layout
block head
    link(rel="stylesheet", type="text/css", href="http://js.arcgis.com/3.10/js/esri/css/esri.css")
    style


block body
    map
    ul
        li(ng-repeat="r in res")
            b {{r.layerName}}
            br
            div Атрибуты: {{r.feature.attributes | json}}

    script(src='//js.arcgis.com/3.10/')