<form name="editForm" role="form" style="width:300px;">
    {{res | json}}
    <div ng-repeat="fd in formDefinition | orderObjectBy:'order' " ng-switch="fd.controlType">
        <div ng-show="fd.show">
            <div class="form-group">
                <label>{{fd.alias}}</label>
                <div edit-field-text ng-switch-when="text" gw-model="model" fd-obj="fd" ></div>
                <div edit-field-num ng-switch-when="num" gw-model="model" fd-obj="fd" ></div>
                <div edit-field-textarea ng-switch-when="textarea" gw-model="model" fd-obj="fd"></div>
                <div edit-field-select ng-switch-when="select" gw-model="model" fd-obj="fd"></div>
                <div edit-field-checkbox ng-switch-when="checkbox" gw-model="model" fd-obj="fd"></div>
            </div>
        </div>
    </div>
</form>